@charset "uft-8";
/* 문서에 최상단에 위치하게 할것 */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 패딩이나 마진을 키우더라도 박스크기가 커지는 걸 막을 수 있다 */
}

body
{
    color: #333;
}

a
{
    text-decoration: none;
    color: #333;
}

table
{
    border-collapse: collapse;
}

/* CSS reset */

header
{
    background-color: rgb(27, 27, 138);
    color: bisque;
    position: fixed;
    width: 100%;
    z-index: 99999;
}

.box
{   
    border: 1px solid #333;
    width: 300px;
    padding: 20px;
    display: block;
    margin: auto;
}

.plus
{
    width: 80px;
    height: 80px;
    background-color: rgb(56, 30, 128);
    color: whitesmoke;
    font-size: 3em;
    text-align: center;
    border-radius: 40px;
    position: absolute;
    left: 25%;
    top: 25%;
}

.imgbox
{
    height: 260px;
    margin-bottom: -4em;
    position: relative;
}

.imgbox img
{
    width: 100%;
}

.txtbox
{
    text-align: center;
    font-weight: bold;
    border-top: 1px solid #333;
    padding-top: 1em;
}

p
{
    text-align: center;
}


